* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #0052d4;
  background: -webkit-linear-gradient(to top, #6fb1fc, #4364f7, #0052d4);
  background: linear-gradient(to top, #6fb1fc, #4364f7, #0052d4);
  font-size: 1rem;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

.select{
  width: 200px;
  padding: 0.5rem;

  option{
    padding: 0.5rem;
  }
}

