.__firelog-container {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 50px;
  height: 50px;
}
.__firelog-logo {
  width: 40px;
  height: 40px;
}
.__firelog-count {
  position: absolute;
  top: -12px;
  left: -13px;
  width: 25px;
  height: 25px;
  background: #ff2828;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  line-height: 25px;
  color: #fff;
}
